apiVersion: v1
kind: Service
metadata:
  name: kafka-svc   # IMPORTANTE: Este es el nombre que buscan tus apps
  namespace: paradigma
spec:
  ports:
  - port: 9092
    name: client
  selector:
    app: kafka
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: paradigma
spec:
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: wurstmeister/kafka:2.13-2.8.1
        ports:
        - containerPort: 9092
        env:
        - name: KAFKA_ZOOKEEPER_CONNECT
          value: "zookeeper:2181"
        - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
          value: "PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT"
        - name: KAFKA_LISTENERS
          value: "PLAINTEXT://:9092"
        # AQUÍ ESTÁ EL CAMBIO CLAVE: Nombre corto 'kafka-svc'
        - name: KAFKA_ADVERTISED_LISTENERS
          value: "PLAINTEXT://kafka-svc:9092"
        - name: KAFKA_CREATE_TOPICS
          value: "sensor-data:1:1"