apiVersion: v1
kind: Service
metadata:
  name: nifi
  namespace: paradigma
spec:
  type: NodePort
  ports:
  - port: 8443            # CAMBIO 1: Apuntamos al puerto seguro
    targetPort: 8443
    nodePort: 30443       # (Opcional) Cambiamos el NodePort
    name: https
  selector:
    app: nifi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi
  namespace: paradigma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      containers:
      - name: nifi
        image: apache/nifi:latest
        ports:
        - containerPort: 8443  # CAMBIO 2: El contenedor expone 8443
        env:
        - name: NIFI_WEB_HTTPS_PORT
          value: "8443"
        - name: NIFI_WEB_HTTPS_HOST
          value: "0.0.0.0"     # Importante para que escuche conexiones externas
        - name: NIFI_WEB_PROXY_HOST
          value: "localhost:8443" # CAMBIO 3: La corrección para tu error de acceso