apiVersion: v1
kind: Service
metadata:
  name: nifi
  namespace: paradigma
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    name: http
  selector:
    app: nifi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi
  namespace: paradigma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      containers:
      - name: nifi
        image: apache/nifi:latest
        ports:
        - containerPort: 8080
        env:
        - name: NIFI_WEB_HTTP_PORT
          value: "8080"