apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: paradigma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: consumer:latest
        imagePullPolicy: IfNotPresent
        env:
        # CAMBIO CLAVE: Apuntamos al nuevo nombre
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-svc:9092"
        resources:
          limits:
            memory: "128Mi"
            cpu: "200m"